---
http_interactions:
- request:
    method: get
    uri: http://ws.spotify.com/search/1/track.json?q=What%20Became%20Of%20The%20Likely%20Lads
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Mon, 10 Dec 2012 23:37:25 GMT
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"info": {"num_results": 18, "limit": 100, "offset": 0, "query":
        "What Became Of The Likely Lads", "type": "track", "page": 1}, "tracks": [{"album":
        {"released": "2002", "href": "spotify:album:4Fpg7zSk9EdANLYiPXd7ri", "name":
        "The Libertines", "availability": {"territories": "worldwide"}}, "name": "What
        Became Of The Likely Lads", "popularity": "0.48716", "external-ids": [{"type":
        "isrc", "id": "GBCVZ0300876"}], "length": 354.864, "href": "spotify:track:3QKCxyJA3ITuCAaxEhjAxt",
        "artists": [{"href": "spotify:artist:4fSPtBgFPZzygkY6MehwQ7", "name": "The
        Libertines"}], "track-number": "14"}, {"album": {"released": "2004", "href":
        "spotify:album:497U72X8hXywNmwOtl2AMf", "name": "What Became Of The Likely
        Lads", "availability": {"territories": "AD AE AF AG AI AL AM AN AO AQ AR AS
        AT AU AW AX AZ BA BB BD BE BF BG BH BI BJ BM BN BO BR BS BT BV BW BY BZ CC
        CD CF CG CH CI CK CL CM CN CO CR CU CV CX CY CZ DE DJ DK DM DO DZ EC EE EG
        EH ER ES ET FI FJ FK FM FO FR GA GB GD GE GF GG GH GI GL GM GN GP GQ GR GS
        GT GU GW GY HK HM HN HR HT HU[...]
- request:
    method: get
    uri: http://ws.spotify.com/search/1/track.json?q=Likely
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Mon, 10 Dec 2012 23:37:25 GMT
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"info": {"num_results": 701, "limit": 100, "offset": 0, "query":
        "Likely", "type": "track", "page[...]
- request:
    method: get
    uri: http://ws.spotify.com/search/1/track.json?q=Villains
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Mon, 10 Dec 2012 23:37:25 GMT
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"info": {"num_results": 1773, "limit": 100, "offset": 0, "query":
        "Villains", "type": "track", [...]
